{% load staticfiles %}
<div class = "container">
    <hr>
    <p class = "text-center">fall in love with code</p>
    <p class = "text-center">辽ICP备<a href ="http://www.miitbeian.gov.cn/" >18018843</a>号</p>
   <div style="width:300px;margin:0 auto; padding:20px 0;">
	<img src =  "{% static '/images/备案图标.png' %}"/>
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=21029602000314" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">辽公网安备 21029602000314号</p></a>
       </div>
 

		 
</div>
